/* Element Selectors */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

footer {
  margin: 2rem;
}

/* Class Selectors */
.jumbotron {
  text-align: center;
  background-color: skyblue;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  border: 1px dashed #000000;
  align-items: center;
  border-radius: 15px 0 0 15px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  display: flex;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  align-items: center;
  justify-content: center;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.input-group {
  margin: 0 auto;
  padding: 0;
}

.list-item-group {
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 10000px;
}